/* PC向けレイアウト */


/* フォント情報など */
body {
    width: 100%;
    font-family:"ヒラギノ角ゴシック W6","Hiragino Kaku Gothic W6","ヒラギノ角ゴ ProN W6","Hiragino Kaku Gothic ProN W6", sans-serif;
    font-weight:100;
}

body p {
    font-family:"ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN W3","游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
}


/* ヘッダーのレイアウト */
.header{
    width:1280pt;
    height:80pt;
    background-color:#FFFFFF;
    /*position:relative;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
}

.logo{
    float:left;
    /*position:absolute;
    top:32pt;
    left:20pt;*/
    margin-top: 32pt;
    margin-left: 20pt;
    margin-right: 40pt;
    width: 160pt;
    height: 16.28pt;
}


/* 買取，ライブラリ，読みもの */

/*
.menus a{
    color:#2C2C2C;
}

.menus a:hover{
    text-decoration:none;
}
*/

.menu{
    float:left;
    width: 103pt;
    height: 24pt;
    margin-right: 24pt;
    margin-top: 28pt;
}

.menu a {
    text-decoration: none;
}

.menu p {
    color: #000000;
}

.menu img{
    width:24pt;
    height:24pt;
    float:left;
    margin:auto;
    margin-right: 8pt;
}

/* 文字間隔(letter-spacing)はAV/1000[em] */
/* 行送り(line-height)は(数値)/(フォントサイズ) :(ex) 24/14=1.714 [単位なし] */
.menu p{
    margin:auto;
    font-size:14pt;
    letter-spacing: 0.14pt;
    line-height: 1.714;
    float:left;
}
/*
.kaitori{
    width:103pt;
    height:24pt;
}

.kaitori img{
    position:relative;
    top:28pt;
    left:220pt;
}

.kaitori p {
    position:absolute;
    top:33pt;
    left:252pt;
}

.library{
    width:103pt;
    height:24pt;
}

.library img{
    position:absolute;
    top:28pt;
    left:347pt;
}

.library p {
    position:absolute;
    top:33pt;
    left:379pt;
}

.yomimono{
    width:88pt;
    height:24pt;
}

.yomimono img{
    position:absolute;
    top:28pt;
    left:474pt;
}

.yomimono p{
    position:absolute;
    top:33pt;
    left:506pt;
}
*/

/* 検索ボックス */
#search-box{
    position:fixed;
    top:20pt;
    left:696pt;
    z-index: 1001;
    width:320pt;
    height:40pt;
    padding-left: 12pt;/* +1文字分12pt */
    border-radius:40pt;
    border:none;
    outline:none;
    background:#F5F5F5;
    font-family: "ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3",sans-serif;
}

#search-submit{
    width:20pt;
    height:20pt;
    position:fixed;
    top:30pt;
    left:980pt;
    z-index: 1001;
    border: none;
}


/* ボタン */
.btn {
    border-radius:4pt;
    text-align:center;
    font-size:12pt;
    display:inline-block;
    width:80pt;
    height:22pt; /* 32-10 */
    text-decoration:none;
    margin:auto;
    padding-top: 10pt;
}

/* ログイン */

.btn-login{
    position:fixed;
    top:28pt;
    left:1040pt;
    z-index: 1001;
    color:#2C2C2C;
    background-color:#FFFFFF;
    border:1pt solid #2C2C2C;
}

/* 新規登録 */

.btn-signup{
    position:fixed;
    top:28pt;
    left:1128pt;
    z-index: 1001;
    color:#FFFFFF;
    background-color:#2C2C2C;
}


/* 売れる本だけ，選んで，送る */
.header2{
    background-color:#FBFAF5;
    width:1280pt;
    height:196pt;
    /* position:relative; */
    font-family: "ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3", sans-serif;
    padding-top: 80pt;
}

.header2-text {
    /* position:absolute; 
    top: 72pt;
    left:140pt; */
    margin-top: 72pt;
    margin-left: 140pt;
    float:left;
    width: 378pt;
}

.header2-text h3 {
    font-size:26pt; 
    font-weight: normal;
    margin: 0 auto 16pt 0;
}

.header2-text p {
    font-size: 10pt;
}

.header2-img {
    /* position: absolute; 
    top: 48pt; 
    left: 534pt; */
    padding-left: 16pt;
    padding-top: 48pt;
    margin-right: 203pt;
    float: left;
}
.header2-img img{
    width: 76pt;
    height: 100pt;
}

.header2-send {
    padding-top: 57pt;
    text-align:center; 
}

.header2-send img {
    width: 150pt;
    height: 30pt;
    margin-bottom: 4pt;
}

.header2-send a {
    font-size: 18pt;
    text-decoration:none; 
    color: #FFFFFF;
    width: 327pt; 
    height: 33pt; /* 48 - 15 */
    border-radius: 4pt;
    background-color: #0095D9;
    display:inline-block; 
    padding-top: 15pt;
    transition-duration: .5s;
}

.header2-send a:hover {
    transform: translateY(-5pt);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

/* メイン　*/

.main{
    position:relative;
    text-align:center;
    width:1280pt;
    height:1401pt;/* 1351 + 50ぐらい*/
}


/* スライドショー部分 */
/* スライドショー https://coliss.com/articles/build-websites/operation/css/css-only-slider.html */
.slider .slides {
    box-sizing: border-box;/*margin 等をwidth 内に収める*/
}

.slider {
    width: 1044pt;
    height: 355pt;/*325 + 24 + 6*/
    text-align: left;
    overflow: hidden;/*はみ出た要素の表示形式*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 56pt;
}

.slides {
    display: flex;/*各スライドを横一列に並べるため*/
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;/*スワイプ機能@webkit*/
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
    width: 1044pt;
}

.slides::-webkit-scrollbar {
    width: 10pt;
    height: 10pt;
}
.slides::-webkit-scrollbar-thumb {/* スクロールバー（右） */
    background: black;
    border-radius: 10pt;
    display: none;
}
.slides::-webkit-scrollbar-track {/* 謎 */
    background: transparent;
}

.slides > div {/* slides 直下のdiv にのみ適用される: ここでは slide-1 to slide-4 */
    scroll-snap-align: start;/*start; center; end*/
    flex-shrink: 0;
    width: 1044pt;
    height: 443pt;
    margin-right: 50pt;
    border-radius: 10pt;
    /*background: #eee;*/
    transform-origin: center center;
    transform: scale(1);/*1倍スケール（意味ある?）*/
    transition: transform 0.5s;
    position: relative;
    /*display: flex;/*これ消すと普通の表示になる*/
    /*justify-content: center;*/
    align-items: center;
    /*font-size: 100px;*/
    font-size: 16pt;
}

.slides h3 {
    font-size: 22pt;
    margin-top: 16pt;
}

.slides h4 {
    font-size: 18pt;
    margin-top: 56pt;
}

#five-step {
    width: 72pt;
    height: 16pt;
    margin-top: 56pt;
}

#slide-img-phone {
    position: absolute;
    top: 0;
    left: 360pt;
    width: 640pt;
    height: 325pt;
}

.slides p {
    font-size: 16pt;
    position: absolute;
    top: 208pt;
    left: 0;
    font-family: "ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3",sans-serif;
    display: inline-block;
    width: 240pt;
}
.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.slider > a:active {
    top: 1px;
}
.slider > a:focus {
    background: #000;
}
/* Don't need button navigation */
/*@supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
}
/* ここまで */

#search-price-img {
    width: 20pt;
    height: 20pt;
}

#search-price-img-hover {
    width: 20pt;
    height: 20pt;
    transform: translateX(-100%);
    background-color: #FFFFFF;
    opacity: 0;
    transition: 0.5s;
}

#search-price  {
    /*position: absolute;
    top: 451pt;
    left: 50%;
    transform: translateX(-50%);*/
    margin-top: 40pt;
    font-size: 16pt;
    text-decoration:none; 
    width: 327pt; 
    height: 16pt; /* 48 - 16 -16 */
    border-radius: 4pt;
    display:inline-block; 
    border: 1pt solid #000000;
    padding-top: 16pt;
    padding-bottom: 16pt;
    /* margin-bottom: 120pt;*/
    color: #000000;
    font-family: "ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3",sans-serif;
}

#search-price:hover  #search-price-img-hover {
    opacity: 1;
    transition: 0.5s;
}

/* 本と一緒に，ご準備ください　のあたり */

.howto-div {
    position:relative; 
    margin-top: 120pt;
    margin-left: auto; /* 左右常に中央寄せ */
    margin-right: auto;
    width: 600pt;
    height: 572pt;
    text-align: center;
}

.howto-div img {
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:120pt;
    height:120pt;
    /*margin-top: 120pt;*/
    z-index: 20;
}

.howto {
    position:absolute;
    top: 60pt;
    left:50%;
    /*transform: translate(-50%, 0);*/
    transform: translateX(-50%);
    width:600pt;
    height:512pt;
    box-shadow: 0 0 15pt #808080;
    padding-top:100pt;
    padding-left:64pt;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    z-index: 10;
}

.howto h3{
    font-size:18pt;
}

.howto dl {
    text-align:left;
    width: 458pt;
}

.howto dt {
    font-size:16pt;
    display:list-item;
    list-style:inside;
    margin-top:48pt;
    margin-bottom:16pt;
}

.howto dd {
    font-size:14pt;
    font-family:"ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3", sans-serif;
}

.howto a {
    color: #0095D9;
}


.permission{
    text-align:center;
}

.permission a {
    /*position: relative;*/
    position: absolute; 
    top: 1305pt;/* 1255 + てきとう50*/
    left: auto;
    transform: translateX(-50%);
    width: 176pt;
    height: 32pt;
    font-size: 12pt;
    border-radius: 4pt;
    border: 1pt solid #2c2c2c;
    text-decoration: none;
    color: #000000;
    padding-top: 10pt;
}

/*ここからモーダル用*/
.modal-unshown {
    display: none;
}

#modal-open {/*モーダルを開くボタン*/
    /*position: absolute;
    top: 1305pt;
    left: auto;
    right: auto;*/
    display: inline-block;
    width: 176pt;
    height: 22pt;/*32-10*/
    border-radius: 4pt;
    border: 1pt solid #2c2c2c;
    font-size: 12pt;
    padding-top: 10pt;
    margin-top: 164pt;

}

#modal-close {/*閉じる用の薄黒カバー*/
    display: none; /*はじめは隠しておく*/
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c2c2c;
    opacity: 70%;
    transition: .3s ease-in-out;
}

#modal-content {
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10010;
    width: 640pt;
    height: 560pt;
    padding-top: 48pt;
    text-align:center;
    background: #f5f5f5;
    transition: .3s ease-in-out;
    /*-webkit-transform: translateX(-105%);*/
    display: none;
    animation: fadeout 1s;
    /*transform: trnaslateY(-105%);*/
}

#modal-content img {
    width: 36pt;
    height: 30pt;
}

#modal-content h3 {
    font-size: 16pt;
    padding-top: 16pt;
}

#modal-content p {
    text-align: left;
    font-size: 14pt;
    width: 576pt;
    padding-left: 32pt;
    padding-bottom: 14pt;
}

/*チェックが入ったら表示*/
#modal-input:checked ~ #modal-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}
#modal-input:checked ~ #modal-content { 
    /*-webkit-transform: translateX(0%);*/
    display: block;
    animation: fadein 1.0s;
    /*transform: translateY(0%);*/
    box-shadow: 6pt 0 25pt rgba(0,0,0,55);

}
@keyframes fadein{/*fadein を定義*//*参考：https://pisuke-code.com/css-show-elem-when-checked/*/
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@keyframes fadeout{/*fadeout を定義*/
    from{ opacity: 1;}
    to{ opacity: 0;}
}

#modal-close-button {/*モーダル内の閉じるボタン*/
    display: block;
    width: 320pt;
    height: 22pt;/*32-10*/
    border-radius: 4pt;
    border: 1pt solid #2c2c2c;
    font-size: 12pt;
    padding-top: 10pt;
    margin-top: 40pt;
    margin-left: auto;
    margin-right: auto;
}

#modal-close-icon {
    position: absolute;
    top: 24pt;
    left: 596pt;
}

#modal-close-icon img {
    width: 20pt;
    height: 20pt;
}

/*ここまでモーダル用*/

/* FAQ */
.faq{
    width:1280pt;
    height:806pt;
    background-color:#F5F5F5;
    text-align:center;
    padding-top: 120pt;
    /* position: relative; */
}

.faqs {
    font-family: "ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3",sans-serif;
    width: 800pt;
    /*position: absolute; */
    margin-top: 32pt;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* top: 174pt;
    left: 240pt; */
}

.faqs img {
    float: left;
    width: 14pt;
    height: 20pt;
    padding-right: 16pt;
}

.faq h3 {
    font-size: 22pt;
}

.faq-check{
    display: none;
}

.faq-border{
    height: 0;
    width: 800pt;
    border-top: 1pt solid #CACACA;
}

/*
.faq-displayed {
    width: 800pt;
    border-top: 1pt solid #CACACA;
}
*/


.faq-label{
    display: block;
    margin-bottom: 1px;
    padding-top: 48pt;
    padding-bottom: 48pt;
    margin-right: 16pt;
    margin-left: 27pt;
    /*width: 704pt;*/
    width: 774pt;
    font-size: 16pt;
    text-align: left;
    /*border-top: 1pt solid #CACACA; */
}



.faq-checkbox {
    width: 24pt;
    height: 24pt;
    float: right;
}

.faq-checkbox:checked {
    width: 18pt;
    height: 18pt;
    float: right;
    transform: rotate(45deg);
}

.faq-content {
    border: 0px solid #333;
    width: 704pt;
    height: 0;
    opacity: 0;
    /*padding: 10px;*/
    margin-left: 27pt;
    transition: .5s;
    visibility: hidden;
}

.faq-content img {
    width: 14pt;
    height: 17pt;
    padding-right: 16pt;
    margin-bottom: 21pt;/* 隣のAが下に回り込まないように調整 */
    float: left;
}

.faq-content p {
    width: 704pt;
    height: 38pt;
    font-size: 14pt;
    text-align: left;
}

.faq-check:checked + .faq-label + .faq-content {
    height: 38pt;/* 文字数に合わせて変化させるには? */
    opacity: 1;
    /*padding: 10px;*/
    padding-bottom: 48pt;
    visibility: visible;
}


.morefaq {
    padding-top: 48pt;
    width: 800pt;
    margin-right: auto;
    margin-left: auto;
    /*border-top: 1pt solid #CACACA;*/
    text-align: center;
}

.morefaq a {
    font-size: 12pt;
    width: 176pt; 
    height: 22pt; /* 32-10 */
    border-radius: 4pt;
    display: inline-block;
    border: 1pt solid #2c2c2c;
    color: #2c2c2c;
    text-decoration: none;
    padding-top: 10pt;
}

/* footer */
.footer {
    width:1280pt;
    height:175pt;
    background-color:#00475A;
    position:relative;
    color: #FFFFFF;
}

.footer p {
    position:absolute;
    top: 57pt; 
    left: 128pt;
    font-size: 12pt;
    margin-right: 40pt;
}

.links1 {
    position: absolute;
    top: 56pt; 
    left: 232pt;
    float: left;
}

.links1 a {
    text-decoration: none;
    font-size: 14pt;
    color: #FFFFFF;
    font-family: "Hiragino Kaku Gothic Pro",serif;
    margin-right: 32.9pt;
}

.links1 img { 
    margin-left: 10pt;
}

.links2 {
    position: absolute; 
    top: 53pt; 
    left: 1044pt;
    float:left;
}

.links2 a {
    margin-right: 24pt;
}

.insta .line {
    width: 20pt;
    height: 20pt;
}

.tw {
    width: 20pt;
    height: 16.25pt;
}

.others{
    position: absolute; 
    top: 93pt;
    left: 128pt;
    width: 1024pt; 
    height: 81pt;
    border-top: 1pt solid #FFFFFF;
    position: relative;
}

.otherlinks {
    position: absolute; 
    top: 24pt;
    left: 0;
    float: left;
}

.otherlinks a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10pt;
    font-family: "ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3",sans-serif;
    margin-right: 16pt;
}

.copyright {
    position: absolute; 
    top: 24pt;
    right: 0;
    float: right;
    font-size: 9pt;
    font-family: "ヒラギノ角ゴシック W3","Hiragino Kaku Gothic W3", sans-serif;
    letter-spacing: 0;
}


/* スマートフォン向けレイアウト */
@media (max-width:670px){
    .flex-list {
        flex-direction: column;
    }
    
    .flex-list li{
        margin: 0 auto;
    }

}