/* PC向けレイアウト */


/* フォント情報など */
body {
    font-family:"ヒラギノ角ゴシック W6","Hiragino Kaku Gothic W6", sans-serif;
    font-weight:100;
}


/* ヘッダーのレイアウト */
.header{
    width:1280pt;
    height:80pt;
    background-color:#FFFFFF;
    position:relative;
}

.logo{
    float:left;
    position:absolute;
    top:32pt;
    left:20pt;
}


/* 買取，ライブラリ，読みもの */
.menus a{
    color:#2C2C2C;
}

.menus a:hover{
    text-decoration:none;
}

.menu{
    float:left;
}

.menu img{
    width:24pt;
    height:24pt;
    float:left;
    margin:auto;
}

/* 文字間隔(letter-spacing)はAV/1000[em] */
/* 行送り(line-height)は(数値)/(フォントサイズ) :(ex) 24/14=1.714 [単位なし] */
.menu p{
    margin:auto;
    font-size:14pt;
    letter-spacing: 0.14pt;
    line-height: 1.714;
    float:left;
}

.kaitori{
    width:103pt;
    height:24pt;
}

.kaitori img{
    position:relative;
    top:28pt;
    left:220pt;
}

.kaitori p {
    position:absolute;
    top:33pt;
    left:252pt;
}

.library{
    width:103pt;
    height:24pt;
}

.library img{
    position:absolute;
    top:28pt;
    left:347pt;
}

.library p {
    position:absolute;
    top:33pt;
    left:379pt;
}

.yomimono{
    width:88pt;
    height:24pt;
}

.yomimono img{
    position:absolute;
    top:28pt;
    left:474pt;
}

.yomimono p{
    position:absolute;
    top:33pt;
    left:506pt;
}

/* 検索ボックス */
#search-box{
    position:absolute;
    top:20pt;
    left:696pt;
    width:320pt;
    height:40pt;
    border-radius:40pt;
    border:none;
    outline:none;
    background:#F5F5F5;
}

#search-submit{
    width:20pt;
    height:20pt;
    position:absolute;
    top:30pt;
    left:980pt;
    border: none;
}


/* ボタン */
.btn {
    border-radius:4pt;
    text-align:center;
    font-size:12pt;
    display:inline-block;
    width:80pt;
    height:22pt; /* 32-10 */
    text-decoration:none;
    margin:auto;
    padding-top: 10pt;
}

/* ログイン */

.btn-login{
    position:absolute;
    top:28pt;
    left:1040pt;
    color:#2C2C2C;
    background-color:#FFFFFF;
    border:1pt solid #2C2C2C;
}

/* 新規登録 */

.btn-signup{
    position:absolute;
    top:28pt;
    left:1128pt;
    color:#FFFFFF;
    background-color:#2C2C2C;
}


/* 売れる本だけ，選んで，送る */
.header2{
    background-color:#FBFAF5;
    width:1280pt;
    height:196pt;
    float:left;
    position:relative;
    font-family: "ヒラギノ角ゴシック W3", sans-serif;
}

.header2-text {
    position:absolute;
    top: 72pt;
    left:140pt; 
}

.header2-text h3 {
    font-size:26pt; 
    font-weight: normal;
    margin: 0 auto 16pt 0;
}

.header2-text p {
    font-size: 10pt;
}

.header2-send {
    position: absolute; 
    top: 57pt;
    left: 813pt;
    text-align:center; 
}

.header2-send img {
    width: 150pt;
    height: 30pt;
    margin-bottom: 4pt;
}

.header2-send a {
    font-size: 18pt;
    text-decoration:none; 
    color: #FFFFFF;
    width: 327pt; 
    height: 33pt; /* 48 - 15 */
    border-radius: 4pt;
    background-color: #0095D9;
    display:inline-block; 
    padding-top: 15pt;
}


.header2-img {
    position: absolute; 
    top: 48pt; 
    left: 534pt;
}
.header2-img img{
    width: 76pt;
    height: 100pt;
}


/* メイン　*/

.main{
    position:relative;
    text-align:center;
    width:1280pt;
    height:1351pt;
}


/* スライドショー部分 */


/* 本と一緒に，ご準備ください　のあたり */

.cardboard {
    position:absolute;
    top: 120pt;
    left: 580pt;
    width:120pt;
    height:120pt;
    z-index: 20;
}

.howto {
    position:absolute;
    top: 180pt;
    left:341pt;
    width:600pt;
    height:512pt;
    box-shadow: 0 0 15pt #808080;
    padding-top:100pt;
    padding-left:64pt;
    text-align:left;
    z-index: 10;
}

.howto h3{
    font-size:18pt;
}

.howto dl {
    text-align:left;
}

.howto dt {
    font-size:16pt;
    display:list-item;
    list-style:inside;
    margin-top:48pt;
    margin-bottom:16pt;
}

.howto dd {
    font-size:14pt;
    font-family:"Hiragino Kaku Gothic W3";
}

.howto a {
    color: #0095D9;
}

/* FAQ */
.faq{
    width:1280pt;
    height:806pt;
    background-color:#F5F5F5;
    text-align:center;
    padding-top: 120pt;
    position: relative;
}

.faqs {
    font-family: "ヒラギノ角ゴシック W3",sans-serif;
    width: 800pt;
    position: absolute; 
    top: 174pt;
    left: 240pt;
}

.faq h3 {
    font-size: 22pt;
}

.faq-check{
    display: none;
}

.faq-label{
    display: block;
    margin-bottom: 1px;
    padding: 10px;
    width: 800pt;
    font-size: 16pt;
    text-align: left;
}

.faq-content {
    border: 1px solid #333;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
    font-size: 14pt;
    text-align: left;
}

.faq-check:checked + .faq-label + .faq-content {
    height: 40px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}


.morefaq {
    font-size: 12pt;
    width: 176pt; 
    height: 22pt; /* 32-10 */
    border-radius: 4pt;
    display: inline-block;
    border: 1pt solid #2c2c2c;
    text-decoration: none;
    padding-top: 10pt;
}

/* footer */
.footer {
    width:1280pt;
    height:175pt;
    background-color:#00475A;
    position:relative;
    color: #FFFFFF;
}

.footer p {
    position:absolute;
    top: 57pt; 
    left: 128pt;
    font-size: 12pt;
    margin-right: 40pt;
}

.links1 {
    position: absolute;
    top: 56pt; 
    left: 232pt;
    float: left;
}

.links1 a {
    text-decoration: none;
    font-size: 14pt;
    color: #FFFFFF;
    font-family: "Hiragino Kaku Gothic Pro",serif;
    margin-right: 32.9pt;
}

.links1 img { 
    margin-left: 10pt;
}

.links2 {
    position: absolute; 
    top: 53pt; 
    left: 1044pt;
    float:left;
}

.links2 a {
    margin-right: 24pt;
}

.insta .line {
    width: 20pt;
    height: 20pt;
}

.tw {
    width: 20pt;
    height: 16.25pt;
}

.others{
    position: absolute; 
    top: 93pt;
    left: 128pt;
    width: 1024pt; 
    height: 81pt;
    border-top: 1pt solid #FFFFFF;
    position: relative;
}

.otherlinks {
    position: absolute; 
    top: 24pt;
    left: 0;
    float: left;
}

.otherlinks a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10pt;
    font-family: "ヒラギノ角ゴシック W3",sans-serif;
    margin-right: 16pt;
}

.copyright {
    position: absolute; 
    top: 24pt;
    right: 0;
    float: right;
    font-size: 9pt;
    font-family: "ヒラギノ角ゴシック W3", sans-serif;
    letter-spacing: 0;
}


/* スマートフォン向けレイアウト */
@media (max-width:670px){
    .flex-list {
        flex-direction: column;
    }
    
    .flex-list li{
        margin: 0 auto;
    }

}